<h1><%= @book.title %> Comments</h1>

<ul>
  <% @comments.each do |comment| %>
    <li>
      <%= link_to comment.title, book_comment_path(@book, comment) %> written by <%= comment.commentter %>, Accepted: <%= comment.accepted %>
    </li>
  <% end %>
</ul>